@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --bgColor: rgb(24, 24, 24);
    --textColor: rgb(233, 233, 233);
    --buttonColor: rgb(39, 39, 39);
    --buttonHover: rgb(78, 78, 78);
    --bgHistory: rgb(31, 31, 31);
    --correctColor: rgb(91, 233, 96);
    --incorrectColor: rgb(255, 129, 129);
}

body {
    background-color: var(--bgColor);
    font-family: 'Poppins', sans-serif;
    color: var(--textColor);
    margin: 0;
    padding: 0 30%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    position: relative;
    width: 100%;
}
.mathImg {
    position: absolute;
    z-index: -1;
    margin: 0 0 0 1rem;
    padding: 0;
    height: 7em;
    transform: rotate(-30deg);
    opacity: 0.8;
}
.header h1 {
    text-align: center;
    color: var(--textColor);
    font-size: 2em;
    margin: 1rem;

}

#navbar div {
    display: flex;
    justify-content: center;
    margin: 0 1rem;
}
#navbar div * {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 15px;
    font-weight: 500;
    margin: 1.1px;
    background-color: var(--buttonColor);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
#navbar div *:hover {
    background-color: var(--buttonHover);
    font-size: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    justify-content: center;
    flex:1;
}

.content * {
    width: 100%;
}

#settings {
    display: flex;
    flex-direction: column;
    background-color: var(--bgHistory);
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}
#settings div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    width: 90%;
    font-size: 0.75rem;
    font-weight: 400;
}
#settings div div {
    flex-direction: row;
    width: fit-content;
    flex-wrap: nowrap;
    text-align: start;
}
#settings * h3 {
    font-size: 0.75rem;
    font-weight: 400;
    padding: 0;
    margin: 6px;
    width: 170px;
}
#settings * p {
    margin: 6px;
    padding: 0;
    font-weight: bold;   
}
.inputRange {
    appearance: none;
    width: 100%;
    height: 10px;
    outline: none;
    border-radius: 10px;
    background: var(--buttonColor);
}
.inputRange::-webkit-slider-thumb {
    appearance: none;
    height: 14px;
    width: 14px;
    border-radius: 50px;
    background: var(--textColor);
    cursor: pointer;
}

#mathExamples {
    display: flex;
    flex-direction: column;
    background-color: var(--bgHistory);
    height: 80px;
    justify-content: center;
    align-items: center;
}
#timer {
    font-size: 10px;
    padding: 0 0 5px 0;
    width: 94%;
}
.mathExample {
    display: flex;
    justify-content: center;
}
#mathExamples h2 {
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
}
.starter {
    border: none;
    border-radius: 5px;
    color: var(--textColor);
    width: 33%;
    font-size: 15px;
    padding: 10px 5px;
    background-color: var(--buttonHover);
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.starter:hover {
    filter: invert(1);
}
.inputs {
    max-width: 80px;
    height: 30px;
    background-color: var(--buttonColor);
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.examplesHistory {
    background-color: var(--bgHistory);
    height: auto;
    text-align: center;
}
.historyTitle {
    padding: 0;
    margin: 15px 0 0 0;
}
.historyScore {
    display: flex;
    justify-content: center;
}
.historyScore * {
    padding: 0;
    margin: 0 2px;
    width: fit-content;
    font-size: 13px;
}
#historyList {
    margin: 20px 0;
    display: flex;
    flex-direction: column-reverse;
}
#historyList span {
    padding: 4px 0;
}
.sessionTitle {
    margin: 0px;
    font-size: 15px;
    font-weight: 400;
}
.correct {
    color: var(--correctColor);
}
.incorrect {
    color: var(--incorrectColor);
}
.answer {
    color: var(--buttonHover);
    position: absolute;
    width: fit-content;
    margin-top: -3.5px;
    margin-left: 1rem;
}


footer {
    display: flex;
    gap: 8px;
    width: 100%;
    height: 20px;
    justify-content: center;
    align-items: center;
    margin: 10px;
    bottom: 0;
}
footer img {
    height: 20px;
}
footer a {
    text-decoration: none;
    color: white;
    font-size: 10px;

}


@media only screen and (max-width: 630px) {
    body {
        padding: 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: var(--bgHistory); 
}
::-webkit-scrollbar-thumb {
    background: var(--buttonColor); 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--buttonHover); 
} 

input[type="number"] {
    appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    appearance: none; 
    margin: 0; 
}