@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --bgColor: rgb(24, 24, 24);
    --textColor: rgb(233, 233, 233);
    --buttonColor: rgb(39, 39, 39);
    --bgHistory: rgb(31, 31, 31);
    --correctColor: rgb(91, 233, 96);
    --incorrectColor: rgb(255, 129, 129);
}

body {
    background-color: var(--bgColor);
    font-family: 'Poppins', sans-serif;
    color: var(--textColor);
    margin: 0;
    padding: 0 30%;
}

.header {
    position: relative;
    width: 100%;
}
h1 {
    text-align: center;
    color: var(--textColor);
    font-size: 2em;
    margin: 1rem;
}

#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem;
}
#navbar div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49.5%;
    height: 100px;
    font-size: 15px;
    font-weight: 500;
    margin: 1px;
    padding: 8px 0px;
    background-color: var(--buttonColor);
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    justify-content: center;
}

.content * {
    width: 100%;
}

#mathExamples {
    display: flex;
    background-color: var(--bgHistory);
    height: 80px;
    justify-content: center;
    align-items: center;
}
#mathExamples h2 {
    text-align: center;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    height: fit-content;
    width: fit-content;
}
.resultInput {
    width: 60px;
    height: 30px;
    background-color: var(--buttonColor);
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-sizing: border-box;

}

#settings {
    height: 50px;

}

.examplesHistory {
    background-color: var(--bgHistory);
    height: auto;
    text-align: center;
}
.historyHeader {
    padding: 0;
}
#historyList {
    margin: 20px 0;
    display: flex;
    flex-direction: column-reverse;
}
#historyList span {
    padding: 4px 0;
}
.correct {
    color: var(--correctColor);
}
.incorrect {
    color: var(--incorrectColor);
}

#settings {
    display: flex;
    background-color: var(--bgHistory);
    height: 100px;
    align-items: center;
    justify-content: center;
}
#settings * {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#settings * input {
    padding: 4px;
}
#settings * h3 {
    font-size: 12px;
    padding: 0;
    margin: 0;
    width: fit-content;
}

@media only screen and (max-width: 630px) {
    body {
        padding: 0;
    }
}